body{
    background-color: #f0f2f5;
}

.home {
    height: 600px;
    position: relative;
}

.fijo {
    position: fixed;
}

#contenedorImgDesc {
    width: 475px;
    height: 200px;
    margin-top: 20px;
    top: 180px;
    left: 13%;
}

#contenedorForm{
    width: 396px;
    height: 450px;
    top: 19%;
    left: 56%;
}

.img{
    width: 301px;
    height: 106px;
    position: absolute;
    top: -29px;
    left: -29px;
}

.descripción{
    position: absolute;
    top: 25%;
}

.descripción h2 {
    font-weight: 100;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 27px;
}

#formInicio{
    background-color: #FFFFFF;
    height: 80%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(184, 183, 183);
}

#text, #pass, #iniciarSesión, #crearCuenta {
    width: 90%;
    height: 14%;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 1px;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: #dddfe2;
}

#text, #pass{
    text-indent: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
}

#text::placeholder, #pass::placeholder {
    color: #9b9e9e;
}

#iniciarSesión{
    background-color: #267df0;
    border: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

#iniciarSesión:hover{
    background-color: #166fe5;
    cursor: pointer;
}

#crearCuenta{
    width: 46%;
    background-color: #3bad24;
    border: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

#crearCuenta:hover{
    background-color: #36a420;
    cursor: pointer;
}

.contenedorA{
    margin-top: 12px;
    margin-bottom: 15px;
    color: #1877f2;
}

.contenedorA a {
    color: #1877f2;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

hr {
    width: 90%;
    border: solid;
    border-color: #dddfe2;
    border-width: 1px;
}

.contenedorP{
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 20px;
    font-size: 15px;
}

.contenedorP a{
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.contenedorP p{
    margin: auto;
    text-align: center;
}

